[Unit]
Description=zeph master

[Service]
ExecStart=/usr/bin/java -Dlog4j.configurationFile={{ log_dir }}/zephmaster{{ item }}_log4j2.yaml  {{ javaagent_jmx_exporter_prometheus }} \
                        -jar {{ zeph_master_jar }} \
                            --delete-topics \
                            --bootstrap-server={{ kafka_bootstrap_servers }} \
                            --time-to-commit={{ time_to_commit }} \
                            --universe-partitions={{ universe_partitions }} \
                            --universe-replications={{ universe_replications }} \
                            --state-dir={{ state_dir }}
                            
User=ubuntu
StandardOutput=file:{{ log_dir }}/{{ stdout_log_file }}_{{ item }}_{{ experiment_id }}.log
StandardError=file:{{ log_dir }}/{{ stderr_log_file }}_{{ item }}_{{ experiment_id }}.log

[Install]
WantedBy=multi-user.target