<% content_for :title do %>PCrypt :: Universe<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="universe-info" data-view="Text"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="result-live" data-view="Number" data-title="Average" style="background-color:#2a4d69;"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="membership-history" data-view="GoogleColumn"  data-title="Membership" style="background-color:#2a4d69;" data-colors="#e7eff6,#000000"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="result-history" data-view="GoogleLine"  data-title="Average History" style="background-color:#2a4d69;" data-colors="#e7eff6"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="status-history" data-view="Timeline" data-title="" style="background-color:#2a4d69;"></div>
    </li>

  </ul>
</div>
